.teaser-img-container{

  position: relative;

  .section-name{
    position: absolute;
    background: linear-gradient(to right, $blue 25%, transparent);
    padding: 4px 10px;
    color: #fff;
    font-size: 14px;
    bottom: 0;
  }

  img{
    border-radius: 10px 0 10px;
  }
}


