.white-bg{
  background: #fff;
}

input, .btn, .form-control{
  border-radius: 0;
}

$blue : #6486e6;

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $blue; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}