$menuCollapseBreakpoint: 992px;
$searchBarHeight: 28px;

.header-container {
  background: url('../assets/header-bg.jpg') no-repeat 50% 50%;
  position: relative;
}

.header-title {
  background: transparent linear-gradient(to right, darken($blue, 30%) 10%, transparent);
  border-radius: 0;

  a {
    text-decoration: none !important;
  }

  .page-title {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0px 8px 3px rgba(0, 0, 0, 0.1),
    5px 10px 3px rgba(0, 0, 0, 0.05),
    -5px 10px 3px rgba(0, 0, 0, 0.05);
  }
}

.navbar {
  transition: .3s max-height linear;
  max-height: 420px;
  background: darken($blue, 40%);

  &.collapse {
    max-height: 38px;
    overflow: hidden;
  }

  .navbar-toggler {
    border: 0;
    outline: 0 !important;
  }

  .nav-link {
    @media screen and (max-width: $menuCollapseBreakpoint) {
      border-top: 1px solid rgba(255, 255, 255, .5);
    }
  }

  .search-bar {
    position: absolute;
    right: 10px;
    top: 0;
    width: auto;
    @media screen and (max-width: $menuCollapseBreakpoint) {
      width: 70%;
    }

    .has-search .form-control {
      border-radius: 0;
      box-shadow: none;
      border: none;
      height: $searchBarHeight;
      padding-right: $searchBarHeight;
    }

    .has-search .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: $searchBarHeight;
      height: $searchBarHeight;
      line-height: $searchBarHeight;
      text-align: center;
      right: 0;
      border: none;
      color: #bbb;
      cursor: pointer;
      transition: .1s color linear;
      top: 5px;

      &:hover {
        color: #666;
      }
    }
  }
}

